body{
	margin:0;
}
.teste{
	width:600px;
	height:300px;
	background-color:red;
	color:red;
	text-align:center;
	line-height:300px;
	font-size:90px;
	
}
/*
essa estrutura gera uma condição que no caso
quando a minha tela de midia tiver largura menor
que 500px ela ira trocar de cor

se faz um tamanho pra diverços tipos de tela,
celular,pc,tv,tablet...comportamento pra cada tela
*/

/*(atributo orientation:landscape)para quando o 
celular estiver deitado
*/
@media only screen and (min-width: 200px) and (max-width:600px) {
	
	.teste{
		width:200px;
		background-color:blue;
		font-size:20px;
		
	}
}