body{
margin: 0;
padding: 0;	
}
.topo{
	width: 100%;
	height: 50px; 
	margin: auto;
	background-color: #AAAAAA;
}
.logo{
	float: left;
	width: 300px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: black;
	font-size: 40px;
	text-shadow:0px 0px 5px black;
	cursor: pointer;

}
.menu{
	float: right;
	width: 50%;
	height: 50px;
	
}
.menu li, .menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu li{
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 50px;
	font-size: 20px;
	cursor: pointer;
	transition:all 0.5s linear;
}
.menu li:hover{
	background-color:#BBB;
}