body{
	margin:0;
}
.texto{
	width:500px;
	height:200px;
	background-color:gray;
	color:red;
	font-size:20px;
	font-family:Verdana, Arial;
	font-weight:900;
	text-align:center;
	text-transform:uppercase;
	text-decoration:underline;
}

/*font-weight define o quanto de negrito vai haver*/